.OptimizerApp {
  padding: 10px;
}

.options-container {
  margin-bottom: 10px
}

.choose-each-once-container {
  display: inline-block;
}

.run-optimizer {
  display: inline-block;
  margin-left: 10px;
}

.data-grid {
  display: inline-block;
  border-collapse: collapse;
}

tbody:before,
tbody:after {
  line-height: 1em;
  content: "\200C";
  display:block;
}

.cell {
  width: 130px;
  height: 25px;
  padding: 0px;
}

.input-cell {
  border-style: solid;
  border-width: 1px;
}

.cell-contents {
  height: 100%;
  padding-left: 5px;
}

.spacing-cell {
  width: 16px;
}

.add-choice {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}

.choicesPerName-cell {
  margin-left: 10px;
}

.add-name {
  display: block;
  margin-top: 5px;
}
