body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.about-container {
  padding-left: 10px;
}

.application-information {
  max-width: 900px;
}

.OptimizerApp {
  padding: 10px;
}

.message-container {
  border-radius: 5px;
  width: 700px;
  min-height: 25px;
  text-align: center;
  padding: 5px;
  margin-left: 175px;
  margin-bottom: 10px;
}

.big-inline-container {
  white-space: nowrap;
}

.options-container {
  margin-bottom: 10px
}

.importer-container,
.choose-each-once-container,
.run-optimizer-container,
.export-options-label,
.loading-icon-container,
.export-scores-container {
  display: inline-block;
  vertical-align: super;
  margin-left: 25px;
}

.choose-each-once-checkbox-label {
  margin-right: 10px;
}
.choose-each-once-checkbox {
  display: inline-block;
}

.loading-icon-container,
.loading-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.loading-icon {
  margin-bottom: -5px;
}

.exporter-container {
  display: inline-block;
}

.export-options-dropdown-container {
  display: inline-block;
  margin-left: 10px;
}

.Dropdown-root {
  width: 160px;
}

.Dropdown-control {
  padding: 4px 40px 4px 8px;
}

.data-grid {
  display: inline-block;
  border-collapse: collapse;
}

tbody:before,
tbody:after {
  line-height: 1em;
  content: "\200C";
  display:block;
}

.cell {
  width: 130px;
  height: 25px;
  padding: 0px;
}

.input-cell {
  border-style: solid;
  border-width: 1px;
}

.cell-contents-container {
  margin-left: 1px;
  height: 86%;
}

.cell-contents {
  height: 100%;
  padding-left: 5px;
}

.immutable-cell-contents {
  font-size: larger;
}

.input-cell-contents {
  border: none;
  font-size: medium;
}

.spacing-cell {
  width: 16px;
}

.add-choice-container {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}

.choicesPerName-cell {
  margin-left: 10px;
}

.add-name-container {
  display: block;
  margin-top: 5px;
}

.slack-container {
  display: inline-block;
  margin-left: -55px;
  font-size: x-small;
}
