.App {
  padding: 10px;
  /*text-align: center;*/
}

.cell {
  display: inline-block;
  width: 130px;
}

.choice-row {
  display: inline-block;
  margin-bottom: 10px;
}

.add-choice {
  display: inline-block;
  margin-left: 10px;
}

/*.immutable-cell-contents {
  padding-left: 5px;
}*/

.choicesPerName-cell {
  margin-left: 10px;
}

.maxPerChoice-row {
  display: inline-block;
  margin: 10px 0px;
}

.run-optimizer {
  margin-left: 10px;
}

.add-name {
  display: block;
}
