.App {
  padding: 10px;
  border-collapse: collapse;
}

.cell {
  display: inline-block;
  width: 130px;
  height: 25px;
}

.cell-contents {
  height: 100%;
  width: 123px;
  border-width: 1px;
  padding-left: 5px;
}

.input-cell-contents {
  border-style: solid;
}

.choice-row {
  display: inline-block;
  margin-bottom: 10px;
}

.data-row {
}

.add-choice {
  display: inline-block;
  margin-left: 15px;
}

/*.immutable-cell-contents {
  padding-left: 5px;
}*/

.choicesPerName-cell {
  margin-left: 15px;
}

.maxPerChoice-row {
  display: inline-block;
  margin: 10px 0px;
}

.run-optimizer {
  margin-left: 15px;
}

.add-name {
  display: block;
}
